@charset "UTF-8"

/* Material-UI was designed with the Roboto font in mind. font-family: 'Roboto', sans-serif; */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
}

/*__END__*/
